.main{
    display: flex;
    flex-direction: column;
    height: auto;
    background-color: darkgrey;
    position: relative;
}
.container{
    margin-top: 10vh;
    min-height: 100vh;
    position: relative;
    .body{
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-left: 20px;
        margin-right: 20px;
        h1{
            margin: 0px;
            margin-top: 10px;
            font-size: 5vw;
            line-height: 5vw;
            text-transform: uppercase;
        }
        h2{
            margin: 0px;
            margin-top: 10px;
            font-size: 2vw;
            line-height: 5vw;
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        }
        p{
            color: white;
            margin: 0px;
            margin-top: 10px;
            font-size: 2vw;
            text-align: center;
        }
        @media screen and (max-width: 430px) {
            p {
                font-size: 3vw;
            }

        }
    }
    .images{
        display: flex;
        width: 100%;
        justify-content: center;
        position: relative;
        margin-top: 5vh;
        .imageContainer{
            position: absolute;
            img{
                object-fit: cover;
            }
            &:nth-of-type(1){
                height: 60vh;
                width: 50vh;
                z-index: 1;
            }
            &:nth-of-type(2){
                left: 55vw;
                top: 15vh;
                height: 40vh;
                width: 30vh;
                z-index: 2;
            }
            &:nth-of-type(3){
                left: 27.5vw;
                top: 60vh;
                height: 25vh;
                width: 25vh;
                z-index: 3;
            }
            @media screen and (max-width: 430px) {
                &:nth-of-type(3) {
                    left: 2vw;
                    top: 70vh;
                }
    
            }
            @media screen and (max-width: 430px) {
                &:nth-of-type(2) {
                    left: 32%;
                }
    
            }
            @media screen and (max-width: 430px) {
                &:nth-of-type(1) {
                    width: 90%;
                }
    
            }
        }
    }
    
}
@media screen and (min-width: 1024px) {
    .word {
        width: 70%;
    }

}