.container {
    display: flex;
    flex-direction: column;
    z-index: 1;
    position: relative;
    height: auto;
    background-color: darkgrey;
    
    .body {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-left: 20px;
        margin-right: 20px;
        h1 {
            margin: 0px;
            margin-top: 10px;
            font-size: 5vw;
            line-height: 5vw;
            text-transform: uppercase;
        }

        h2 {
            margin: 0px;
            margin-top: 10px;
            font-size: 2vw;
            line-height: 5vw;
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        }
        @media screen and (max-width: 430px) {
            h2 {
                font-size: 6vw;
            }

        }

        p {
            color: white;
            margin: 0px;
            margin-top: 10px;
            font-size: 20px;
            font-family: Verdana, Geneva, Tahoma, sans-serif;

            span {
                display: block;
                width: 10px;
                height: 10px;
                background-color: black;
                border-radius: 50%;
                margin-right: 10px;
            }
        }

        @media screen and (max-width: 430px) {
            p {
                font-size: 4vw;
                line-height: 3vh;
            }

        }
    }
    .circleContainer{
        position: relative;
        margin-top: 100px;
        .circle{
            height: 1550%;
            width: 100%;
            border-radius: 0 0 50% 50%;
            background-color: darkgrey;
            z-index: 10;
            position: absolute;
            box-shadow: 0px 60px 50px rgba(0, 0, 0, 0.748);
        }
    }
    .subbody{
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 40px;
        margin-top: 10vh;
    }
    @media screen and (max-width: 760px) {
        .subbody {
            flex-direction: column;
        }

    }
}

@media screen and (min-width: 1024px) {
    .word {
        width: 25%;
    }

}