@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  /* overflow: hidden; */
  cursor: wait;
  background-color: rgb(15, 15, 15);
  position: relative;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Manrope", sans-serif;
}

.no-scroll {
  overflow: hidden;
}


.nav {
  color: white;
  font-weight: 700;
  position: relative;
  display: inline-block;
  text-decoration: none;
}

.nav::after {
  content: '';
  position: absolute;
  left: 50%;
  bottom: -2px;
  width: 0;
  height: 2px;
  background-color: white;
  transition: width 0.3s ease;
  transform: translateX(-50%);
}

.nav:hover::after {
  width: 100%;
}

@media (max-width: 1024px) {
  .exploreH {
    height: 100%;
    border-radius: 24px;
  }
}

.form {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 16px;
  padding: 24px;
  border-top-width: 1px;
  color: white;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.formInput {
  background-color: rgb(15, 15, 15);
  height: 40px;
}

.Lottie {
  width: 10%;
  margin-top: 80vh;
}